.projectsection {

    flex-flow: row wrap;
    padding: 10rem 0;
    display: flex;
    background-color: #f1f1f1;
    letter-spacing: .0625em;
    padding-right: 15px;
    padding-left: 15px;
   
}
