.header_header{
    background-color: black; 
    display: flex;
    flex-direction: row;
    min-height: 56px;

}

.header_header:active{
    background-color: white
}

.header_link{
    color: white;
    font-family: varela-round;
    text-decoration: none;
    
}
.header_logo{
    height: 50px;
    width: 50px
}

.selected{
    color: black;
    background-color: white
}