.header_header{
    background-color: black; 
    display: flex;
    flex-direction: row;
    min-height: 56px;
}

.header_header_white{
    background-color: white; 
    display: flex;
    flex-direction: row;
    min-height: 56px;
}

.header_link{
    color: white;
    font-family: nunito sans-serif;
    letter-spacing: .0625em;
    text-decoration: none;
}

.header_link:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

.header_link_black{
    color: black;
    font-family: nunito sans-serif;
    letter-spacing: .0625em;
    text-decoration: none;
}

.header_link_black:hover{
    color: #C9A959;
    font-family: nunito sans-serif;
    letter-spacing: .0625em;
    text-decoration: none;
}



